services:
  db:
    image: postgres:18
    container_name: database-layer
    environment:
      POSTGRES_DB: ${DATABASE}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./SCTI-2025-Backend/src/create.sh:/docker-entrypoint-initdb.d/create.sh
    networks:
      - internal

  backend:
    build:
      context: ./SCTI-2025-Backend/src
    container_name: backend
    volumes:
      - backend_logs:/root/logs
      - backend_data:/root/data
    depends_on:
      - db
    environment:
      - DATABASE=${DATABASE}
      - DATABASE_PASS=${DATABASE_PASS}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_USER=${DATABASE_USER}
      - HOST=${HOST}
      - DB_HOST=db
      - PORT=${PORT}
      - JWT_SECRET=${JWT_SECRET}
      - SITE_URL=${SITE_URL}
      - SCTI_EMAIL=${SCTI_EMAIL}
      - MASTER_USER_PASS=${MASTER_USER_PASS}
      - SCTI_APP_PASSWORD=${SCTI_APP_PASSWORD}
      - REFRESH_EXPIRE_TIME=${REFRESH_EXPIRE_TIME}
      - TEST_REFRESH_EXPIRE_TIME=${TEST_REFRESH_EXPIRE_TIME}
      - MERCADO_PAGO_PUBLIC_KEY=${MERCADO_PAGO_PUBLIC_KEY}
      - MERCADO_PAGO_ACCESS_TOKEN=${MERCADO_PAGO_ACCESS_TOKEN}
      - WEBHOOK_SIGNATURE=${WEBHOOK_SIGNATURE}
      - FORCE_REAUTH=${FORCE_REAUTH}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    command: air -c .air.toml
    networks:
      - internal

  frontend:
    build:
      context: ./SCTI-2025-Frontend
    container_name: frontend
    volumes:
      - frontend_logs:/app/logs
    depends_on:
      - backend
    environment:
      - NODE_ENV=${NODE_ENV}
      - API_BASE_URL=${API_BASE_URL}
      - NEXT_PUBLIC_API_KEY_MERCADO=${NEXT_PUBLIC_API_KEY_MERCADO}
      - SUPPORTER_PRODUCT_ID=${SUPPORTER_PRODUCT_ID}
      - FORCE_REAUTH=${FORCE_REAUTH}
    networks:
      - internal

  nginx:
    build: ./Nginx
    container_name: nginx
    depends_on:
      - backend
      - frontend
    ports:
      - "8080:80"
    volumes:
      - ./letsencrypt/www:/var/www/certbot/:ro
      - ./letsencrypt/conf:/etc/letsencrypt/:ro
    networks:
      - internal
    restart: unless-stopped

volumes:
  postgres_data:
  backend_logs:    # New volume for backend logs
  frontend_logs:
  backend_data:    # New volume for backend data

networks:
  internal:
    driver: bridge
